<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Arquivo com as configurações base e default do spring logback -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    

<!--    <root level="WARN">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </root>-->
	
	<root level="INFO">
        <appender-ref ref="FILE"/>
        
    </root>
    
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>


